
<body class="bd" style="background-image: url(assets/pictures/master-slides-01.jpg);">
    <!-- <div class="card1">
      <div class="circle">
        <img src="image.png" alt="Pepsi Logo" class="logo">
      </div>
      <img src="image1.png" alt="Pepsi Can" class="product_img">
      <div class="content">
          <h2>Pepsi</h2>
          <p>Pepsi is a cool, refreshing drink that satisfies your thirst and delights your taste buds. Our secret blend of flavors.</p>
        <a href="#">Shop Now</a>
      </div>
    </div> -->
  
    <div>
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card1">
              <div class="circle">
                <img src="https://t3.ftcdn.net/jpg/05/60/70/82/360_F_560708240_pMZPOuSfvblWGRoaiZFLT4wiFTzQPwQe.jpg" alt="Pepsi Logo" class="logo">
              </div>
              <img src="assets\pictures\images-3.png" alt="Pepsi Can" class="product_img">
              <div class="content ">
                <h2>Pizza Hut</h2>
                <p>Savor every slice, because Pizza Hut delivers more than just a meal, it’s an experience!</p>
                <a routerLink="/restaurant/2">Order Now</a>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="card1">
              <div class="circle">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsi310Hy35YEM8D-1QhcvR0Q6iMqA30TdlPA&s" alt="Pepsi Logo" class="logo">
              </div>
              <img src="assets\pictures\images-5.png" alt="Pepsi Can" class="product_img">
              <div class="content">
                <h2>Mehfil Biryani</h2>
                <p>Indulge in the rich aroma of Biryani, where every bite takes you to flavor heaven!</p>
                <a href="#">Order Now</a>
              </div>
            </div>
          </div>
         
          <div class="carousel-item">
           
            <div class="card1">
              <div class="circle">
                <img src="https://png.pngtree.com/thumb_back/fw800/background/20240721/pngtree-tasty-rice-noodles-with-tomato-red-pepper-mushrooms-and-seafood-image_15904264.jpg" alt="Pepsi Logo" class="logo rounded-full">
              </div>
              <img src="assets\pictures\images-4.png" alt="Pepsi Can" class="product_img">
              <div class="content">
                <h2>Noodles</h2>
                <p>Twirl your way to happiness with noodles – a perfect blend of flavor and fun!</p>
                <a href="#">Order Now</a>
              </div>
              
            </div>
         
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
  
  
  
  </body>
  