

<section class="section-slide">
  <div class="slider">
    <div class="slide" style="background-image: url(assets/pictures/master-slides-01.jpg);">
      <div class="content">
          <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15  text-6xl text-pretty " data-appear="fadeInDown">
              Welcome to
          </span>

          <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37 text-3xl" data-appear="fadeInUp">
            Savor the flavor, delivered to your door.
          </h2>
        <a  routerLink="/app-restaurant-list" class="btn">Look Menu</a>
      </div>
    </div>

    <div class="slide" style="background-image: url(assets/pictures/master-slides-02.jpg);">
      <div class="content">
          <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15 text-6xl text-pretty" data-appear="fadeInDown">
              Welcome to
          </span>

          <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37 text-3xl" data-appear="fadeInUp">
            Hot meals, fast delivery, and happy moments
          </h2>
        <a  routerLink="/app-restaurant-list" class="btn">Look Menu</a>
      </div>
    </div>

    <div class="slide" style="background-image: url(assets/pictures/master-slides-03.jpg);">
      <div class="content">
          <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15 text-6xl text-pretty" data-appear="fadeInDown">
              Welcome to
          </span>

          <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37 text-3xl" data-appear="fadeInUp">
            Good food is just a click away.
          </h2>
        <a  routerLink="/app-restaurant-list" class="btn">Look Menu</a>
      </div>
    </div>

    <!-- Duplicate slides for seamless looping -->
    <div class="slide" style="background-image: url(assets/pictures/master-slides-04.jpg);">
      <div class="content">
          <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15 text-6xl text-pretty" data-appear="fadeInDown">
              Welcome to
          </span>

          <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37 text-3xl" data-appear="fadeInUp">
            Savor the flavor, delivered to your door.
          </h2>
        <a  routerLink="/app-restaurant-list" class="btn">Look Menu</a>
      </div>
    </div>

    <div class="slide" style="background-image: url(assets/pictures/master-slides-01.jpg);">
      <div class="content">
          <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15 text-6xl text-pretty" data-appear="fadeInDown">
              Welcome to
          </span>

          <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37 text-3xl" data-appear="fadeInUp">
            Good food is just a click away.
          </h2>
        <a  routerLink="/app-restaurant-list" class="btn">Look Menu</a>
      </div>
    </div>

    <div class="slide" style="background-image: url(assets/pictures/master-slides-01.jpg);">
      <div class="content">
          <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15 text-6xl text-pretty" data-appear="fadeInDown">
              Welcome to
          </span>

          <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37 text-3xl" data-appear="fadeInUp">
            Hot meals, fast delivery, and happy moments
          </h2>
        <a routerLink="/app-restaurant-list" class="btn">Look Menu</a>
      </div>
    </div>
  </div>
</section>


