
<section class="section-ourmenu bg2-pattern p-t-115 p-b-120 ">
    <div class="container">
      <div class="title-section-ourmenu t-center m-b-22">
        <span class="tit2 t-center text-center">Discover</span>
        <h3 class="tit5 t-center m-t-2 text-center">Our Menu</h3>
      </div>
  
      <div class="row">
        <!-- Left Section (Two Tall Images and One Wide Image) -->
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-6">
              <!-- Lunch -->
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30 equal-height">
                <img src="assets/pictures/our-menu-01.jpg" alt="IMG-MENU" class="menu-image">
                <a routerLink="/app-restaurant-list" class="btn2 flex-c-m txt5 ab-c-m size4">Lunch</a>
              </div>
            </div>
  
            <div class="col-sm-6">
              <!-- Dinner -->
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30 equal-height">
                <img src="assets/pictures/our-menu-05.jpg" alt="IMG-MENU" class="menu-image">
                <a routerLink="/app-restaurant-list" class="btn2 flex-c-m txt5 ab-c-m size5">Dinner</a>
              </div>
            </div>
  
            <div class="col-12">
              <!-- Happy Hour -->
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30 wide">
                <img src="assets/pictures/our-menu-07.jpg" alt="IMG-MENU" class="menu-image">
                <a routerLink="/app-restaurant-list" class="btn2 flex-c-m txt5 ab-c-m size6">Happy Hour</a>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Right Section (Three Smaller Images) -->
        <div class="col-md-4">
          <div class="row">
            <div class="col-12">
              <!-- Drink -->
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                <img src="assets/pictures/our-menu-12.jpg" alt="IMG-MENU" class="menu-image">
                <a routerLink="/app-restaurant-list" class="btn2 flex-c-m txt5 ab-c-m size7">Drink</a>
              </div>
            </div>
  
            <div class="col-12">
              <!-- Starters -->
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                <img src="assets/pictures/our-menu-16.jpg" alt="IMG-MENU" class="menu-image">
                <a routerLink="/app-restaurant-list" class="btn2 flex-c-m txt5 ab-c-m size8">Starters</a>
              </div>
            </div>
  
            <div class="col-12">
              <!-- Dessert -->
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
                <img src="assets/pictures/our-menu-18.jpg" alt="IMG-MENU" class="menu-image">
                <a routerLink="/app-restaurant-list" class="btn2 flex-c-m txt5 ab-c-m size9">Dessert</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  