<app-nav></app-nav>
<div class="flex h-screen mt-14">
    <!-- Sidebar -->
    <div class="w-64 bg-slate-900 text-white">
      <div class="p-6 text-center font-bold text-xl">Dashboard</div>
      <nav class="flex-grow">
        <ul class="space-y-4 p-4">
          <li>
            <a
              routerLink="/dashboard/restaurant-dashboard"
              routerLinkActive="bg-blue-700"
              class="block p-3 rounded hover:bg-blue-700 transition duration-200"
            >
              Restaurant Dashboard
            </a>
          </li>
          <li>
            <a
              routerLink="/dashboard/promotion"
              routerLinkActive="bg-blue-700"
              class="block p-3 rounded hover:bg-blue-700 transition duration-200"
            >
              Promotions
            </a>
          </li>
         
          <li>
            <a
              routerLink="/dashboard/deilvery-person"
              routerLinkActive="bg-blue-700"
              class="block p-3 rounded hover:bg-blue-700 transition duration-200"
            >
              Add Deilvery Person
            </a>
          </li>
          <li>
            <a
              routerLink="/dashboard/inventory"
              routerLinkActive="bg-blue-700"
              class="block p-3 rounded hover:bg-blue-700 transition duration-200"
            >
              Inventory Reports
            </a>
          </li>
          <li>
            <a
              routerLink="/dashboard/order-report"
              routerLinkActive="bg-blue-700"
              class="block p-3 rounded hover:bg-blue-700 transition duration-200"
            >
              Order Report
            </a>
          </li>
        </ul>
      </nav>
    </div>
  
    <!-- Main Content -->
    <div class="flex-grow p-6 bg-gray-100 overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
  